{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat lobortis nunc, in hendrerit tellus tempor quis. Nullam ac enim semper, euismod metus non, laoreet nunc. Sed vulputate magna rhoncus imperdiet gravida. Donec mattis lacinia nunc, et dignissim erat convallis quis. Aliquam fermentum purus ut lorem gravida semper. Ut neque ante, commodo eget tortor sed, venenatis consectetur dui. Nullam sit amet auctor lectus, at vestibulum orci. Curabitur sed elit id quam faucibus ultricies. Nullam scelerisque libero eget eros mollis, at dictum ex laoreet. Aenean venenatis eget dolor eu tincidunt. Vestibulum in felis feugiat, faucibus nisl vel, mollis quam. Fusce tincidunt eu neque a congue. Mauris in urna velit.</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in semper libero. Proin gravida ante eget vestibulum pretium. Morbi non aliquet est, ut luctus risus. Mauris imperdiet tincidunt fringilla. Aliquam suscipit pellentesque mauris. Ut faucibus velit diam, facilisis interdum diam varius et. Ut lobortis, lacus vel vulputate suscipit, tortor ante scelerisque odio, ac porttitor turpis tortor sit amet lectus. Nunc tempor accumsan consequat. Suspendisse potenti. Maecenas laoreet, nunc ac finibus tincidunt, lorem nunc mollis velit, eu tincidunt arcu felis sed erat. In malesuada neque nec luctus ultricies. Nulla orci purus, faucibus eu rhoncus non, viverra quis dui. Nunc a blandit eros.</p>

{% endblock %}

